// overwrite theme variables

$text-primary: #21bf4b;
$text-secondary: #E2FFDD;
$text-dark: #535353;
$text-light: #F0F0F0;
$text-success: #28F506;
$text-info: #9ab6da;
$text-warning: #e49b1f;
$text-danger: #880303;

$primary: #21bf4b;
$secondary: #E2FFDD;
$dark: #535353;
$light: #F0F0F0;
$success: #28F506;
$info: #9ab6da;
$warning: #e49b1f;
$danger: #f44336;








@import '~bootstrap/scss/bootstrap.scss';